<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../static/css/style.css
</head>
<body>
    <div class="container">
        <nav id="navbar">
            <img src="../static/img/Netflix-Logo.wine.svg" alt="netflix">
            <div class="topRightButton">
                <div class="select-lang">
                    <div class="lang-select" id="language-select" name="lang-select">
                        <img src="../static/img/globe_index_page.png" alt="">
                        <p id="current-lang">English</p>
                        <img src="../static/img/down-arrow.png" alt="down_arrow">
                    </div>
                    <ul id="lang-list" class="hide-lang-list">
                        <li class="options">
                            <p>English</p>
                        </li>
                        <li class="options">
                            <p>हिंदी</p>
                        </li>
                    </ul>
                </div>
                <div class="indexSignIn">
                    <a href="" id="indexSignIn" class="redButton authlinks">Sign In</a> 
                </div>
            </div>
        </nav>
        <section class="section-1" id="section">
            <div class="overlay-netflix-image-background"></div>
            <img id="netflix_index_page_background" src="../static/img/netflix_index_page_background.jpg" alt="netflix_index_page_background">
            <div class="email-account-creation">
                <h1 class="section-1-heading">Unlimited movies, TV shows and more</h1>
                <p class="section-1-text-1">Watch anywhere. Cancel anytime.</p>
                <div class="email-fill-block">
                    <form action="/" method="post" id="index-page-email">
                        <p class="email-write-desc">Ready to watch? Enter your email to create or restart your membership.</p>
                        <div class="email-write-button-and-input">
                            <div class="block-of-input">
                                <div class="input-email-block">
                                    <input type="email" name="email" id="email-of-user">
                                    <label for="email-of-customer" class="label-email-name">Email address</label>
                                </div>
                            </div>
                            <div class="right-arrow-block">
                                <button type="submit" class="email-button">Get Started</button>
                                <img src="../static/img/right-arrow-index-page.svg" alt="right_arrow"  >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>
    block scripts 
        script(src='../static/js/indexJS/nav.js')
        script(src='../static/js/indexJS/section-1.js')
</body>
</html>