<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../static/css/style.css
</head>
<body>
    <div class="container">
        <nav id="navbar">
            <img src="../static/img/Netflix-Logo.wine.svg" alt="netflix">
            <div class="topRightButton">
                <div class="select-lang">
                    <div class="lang-select" id="language-select" name="lang-select">
                        <img src="../static/img/globe_index_page.png" alt="">
                        <p id="current-lang">English</p>
                        <img src="../static/img/down-arrow.png" alt="down_arrow">
                    </div>
                    <ul id="lang-list" class="hide-lang-list">
                        <li class="options">
                            <p>English</p>
                        </li>
                        <li class="options">
                            <p>हिंदी</p>
                        </li>
                    </ul>
                </div>
                <div class="indexSignIn">
                    <a href="/in/login" id="indexSignIn" class="redButton authlinks">Sign In</a> 
                </div>
            </div>
        </nav>
        <section class="section-1" id="section1">
            <div class="email-account-creation">
                <h1 class="section-1-heading">Unlimited movies, TV shows and more</h1>
                <p class="section-1-text-1">Watch anywhere. Cancel anytime.</p>
                <div class="email-fill-block">
                    <form action="/" method="post" id="index-page-email">
                        <p class="email-write-desc">Ready to watch? Enter your email to create or restart your membership.</p>
                        <div class="email-write-button-and-input">
                            <div class="block-of-input">
                                <div class="input-email-block">
                                    <label for="email-of-customer" class="label-email-name-top-box">Email address</label>
                                    <input type="email" name="email" id="email-of-user-top-box">
                                </div>
                            </div>
                            <div class="right-arrow-block">
                                <button type="submit" class="email-button">Get Started</button>
                                <img src="../static/img/right-arrow-index-page.svg" alt="right_arrow"  >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="section-2" id="section2">
            <div class="windows-demo-vi-and-desc">
                <div class="section-2-desc-and-heading">
                    <h1 class="section-2-desc-heading">Enjoy on your TV</h1>
                    <p class="section-2-desc-info">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
                </div>
                <div class="section-2-demo-vi" id="demo-img-back">
                    <!-- <img src="/static/img/tv.png" alt="demo_tv"> -->
                    <video autoplay muted loop playinline width="420">
                        <source src="/static/img/index_page_vi.m4v" type="video/webm">
                    </video>
                </div>
            </div>
        </section>
        <section class="section-3" id="section3">
            <div class="section-3-demo-download-preview">
                <div class="section-3-left-front-download-prev">
                    <div class="section-3-donwload-ex-vi-box">
                        <img src="/static/img/mini_preview-download.png" alt="down_ex_img_prev" class="section-3-downloading-vi-ex">
                        <p class="section-3-download-title">Stranger Things<span class="section-3-vi-downloading">Downloading...</span></p>
                        <img src="/static/img/netflix-download.gif" alt="down_ex_gif" class="section-3-download-ex-gif">
                    </div>
                </div>
                <div class="section-3-vi-offline-info">
                    <div class="section-3-vi-offline-info-box">
                        <h1 class="section-3-download-info-head">Download your shows to watch offline</h1>
                        <p class="section-3-save-vi-info">Save your favourites easily and always have something to watch.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-4" id="section4">
            <div class="apple-demo-vi-and-desc">
                <div class="section-4-desc-and-heading">
                    <h1 class="section-4-desc-heading">Watch everywhere</h1>
                    <p class="section-4-desc-info">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
                </div>
                <div class="section-4-demo-vi" id="demo-img-back">
                    <!-- <img src="/static/img/tv.png" alt="demo_tv"> -->
                    <video autoplay muted loop playinline width="420">
                        <source src="/static/img/section-4-video_khan.m4v" type="video/webm">
                    </video>
                </div>
            </div>
        </section>
        <section class="section-5" id="section5">
            <div class="section-5-demo-download-preview">
                <div class="section-5-left-front-download-prev">
                </div>
                <div class="section-5-vi-offline-info">
                    <div class="section-5-vi-offline-info-box">
                        <h1 class="section-5-download-info-head">Create profiles for kids</h1>
                        <p class="section-5-save-vi-info">Send children on adventures with their favourite characters in a space made just for them—free with your membership.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-6" id="section6">
            <h1 class="section-6-title">Frequently Asked Questions</h1>
            <div class="accordion">
                <div class="accordion-items">
                    <div class="accordion-item">
                        <p class="accordion-header">What is Netflix?</p>
                        <div class="accordion-content">
                            <p>Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries and more – on thousands of internet-connected devices.
                                <br>
                                <br>
                                You can watch as much as you want, whenever you want, without a single ad – all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header">How much does Netflix cost?</p>
                        <div class="accordion-content">
                            <p>Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from ₹ 649 to ₹ 149 a month. No extra costs, no contracts.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header">Where can I watch?</p>
                        <div class="accordion-content">
                            <p>Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.

                                You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header">How do I cancel?</p>
                        <div class="accordion-content">
                            <p>Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header">What can I watch on Netflix?</p>
                        <div class="accordion-content">
                            <p>Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, and more. Watch as much as you want, anytime you want.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <p class="accordion-header">Is Netflix good for kids?</p>
                        <div class="accordion-content">
                            <p>The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and films in their own space.

                                Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see.</p>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/" method="post" id="index-page-email">
                <p class="email-write-desc">Ready to watch? Enter your email to create or restart your membership.</p>
                <div class="email-write-button-and-input">
                    <div class="block-of-input">
                        <div class="input-email-block">
                            <label for="email-of-customer" class="label-email-name-bottom-box label-move-bottom">Email address</label>
                            <input type="email" name="email" id="email-of-user-bottom-box">
                        </div>
                    </div>
                    <div class="right-arrow-block">
                        <button type="submit" class="email-button">Get Started</button>
                        <img src="../static/img/right-arrow-index-page.svg" alt="right_arrow"  >
                    </div>
                </div>
            </form>
        </section>
    </div>
    block scripts 
        script(src='../static/js/indexJS/nav.js')
        script(src='../static/js/indexJS/section.js')
</body>
</html>