<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../static/css/style.css
</head>
<body>
    <div class="container">
        <nav id="navbar">
            <img src="../static/img/Netflix-Logo.wine.svg" alt="netflix">
            <div class="topRightButton">
                <div class="select-lang">
                    <div class="lang-select" name="lang-select">
                        <img src="../static/img/world-globe-line-icon.svg" alt="">
                        <p>English</p>
                        <img src="../static/img/down-arrow.svg" alt="arrow_down">
                    </div>
                    <ul id="lang-list">
                        <li class="options">
                            <img src="../static/img/world-globe-line-icon.svg" alt="">
                            <p>हिंदी</p>
                            <img src="../static/img/down-arrow.svg" alt="arrow_down">
                        </li>
                    </ul>
                </div>
                <div class="indexSignIn">
                    <a href="" id="indexSignIn" class="redButton authlinks">Sign In</a> 
                </div>
            </div>
        </nav>
        <section id="section">

        </section>
        script(src='../static/js/indexJS/nav.js')
    </div>
</body>
</html>