<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>netflix signup</title>
  style
    include ../static/css/signup.css
</head>
<body>
  <div class="container">
    <nav id="navbar">
      <a href="/"><img id="logoSignUpStep1" src="../static/img/Netflix-Logo.wine.svg" alt="netflix"></a>
      <a href="/login" id="SignIn">Sign In</a>
  </nav>
  <section id="settingUp">
    <img src="../static/img/signup_step1.png" alt="sign_img" id="signupStep1">
    <span class="stepIndicator">STEP <b> 1</b> OF <b> 3</b></span>
    <h1 class="stepTitle">Finish setting up your account</h1>
    <p class="bodyContext">Netflix is personalised for you. Create a password to watch on any device at any time.
    </p>
    <button type="button" class="btn-next">Next</button>
  </section>
  </div>
</body>
</html>