<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>netflix signup</title>
  style
    include ../static/css/signup.css
</head>
<body>
  <div class="container">
    <nav id="navbar">
      <a href="/"><img id="logoSignUpStep1" src="../static/img/Netflix-Logo.wine.svg" alt="netflix"></a>
      <a href="/login" id="SignIn">Sign In</a>
  </nav>
  <hr>
  </div>
</body>
</html>