<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>netflix signup</title>
  style
    include ../static/css/signup.css
</head>
<body>
  <div class="container">
    <nav id="navbar">
      <a href="/"><img id="logoSignUpStep1" src="../static/img/Netflix-Logo.wine.svg" alt="netflix"></a>
      <a href="/in/login" id="SignIn">Sign In</a>
  </nav>
  <section id="settingUp">
    <div class="simpleContainer">
      <div class="midPageBodyContent">
          <img src="../static/img/signup_step1.png" alt="sign_img" id="signupStep1Img">
          <div class="bodyTitle">
            <span class="stepIndicator">STEP <b> 1</b> OF <b> 3</b></span>
            <h1 class="stepTitle">Finish setting up your account</h1>
          </div>
          <div class="contextBody">
            <p>Netflix is personalised for you. Create a password to watch on any device at any time.
          </div>
          </p>
          <button type="button" class="btn-next">Next</button>
      </div>
    </div>
  </section>
  <footer class="linksLang">
    <div class="site-footer">
      <p class="footer-top">Questions? Call <a href="tel:000-800-919-1694" class="tell">000-800-919-1694</a></p>
      <ul class="footer-links">
        <li class="footer-item-link"><a href="faq.pug"><span class="footer-link-text">FAQ</span></a></li>
        <li class="footer-item-link"><a href="help_center.pug"><span class="footer-link-text">Help Center</span></a></li>
        <li class="footer-item-link"><a href="netflix_shop.pug"><span class="footer-link-text">Netflix Shop</span></a></li>
        <li class="footer-item-link"><a href="terms_of_use.pug"><span class="footer-link-text">Terms of Use</span></a></li>
        <li class="footer-item-link"><a href="privacy.pug"><span class="footer-link-text">Privacy</span></a></li>
        <li class="footer-item-link"><a href="cookie_preferences.pug"><span class="footer-link-text">Cookie Preferences</span></a></li>
        <li class="footer-item-link"><a href="corporate_information.pug"><span class="footer-link-text">Corporate Information</span></a></li>
      </ul>
      <div class="select-lang">
        <ul id="lang-list" class="margin-control hide-lang-list">
          <li class="options">
            <p>English</p>
          </li>
          <li class="options">
            <p>हिंदी</p>
          </li>
        </ul>
        <div class="lang-select" id="language-select">
          <img src="../static/img/globe.png" alt="signup_globe">
          <p id="current-lang">English</p>
          <img src="../static/img/down-arrow.png" alt="down_down">
        </div>
      </div>
    </div>
  </footer>
  block scripts
    script(src='../static/js/signupJS/signup.js')
  </div>
</body>
</html>