/* Below one is for section h1 purpose*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
/* Below one is for section span element purpose */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
/* Below one is for sectioni p element purpose  */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
/* Below one is for signIn purpose include span element*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Variable';
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer'
    ;
}
/* Netflix image section */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoSignUpStep1{
    width: 217px;
    margin-left: 13px;
    box-sizing: border-box;
    height: 80px;
}
/* netflix SignIn link section */
#SignIn{
    color: black;
    margin-right: 32px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
/* CSS for Account Signup */

/* CSS for section for setting up users account */
#settingUp{
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
}
#settingUp span{
    font-family: 'Archivo', sans-serif;
    font-size: 11px;
}
#settingUp span b{
    font-family: 'Archivo', sans-serif;
}
#settingUp h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}
#settingUp p{
    font-family: 'Asap', sans-serif;
}
#signupStep1{
    width: 230px;
    height: 55px;
}
/* next button CSS below */
.btn-next{
    color: white;
    background: #e50914;
    padding: 18px 145px;
    font-size: 23px;
    border-radius: 4px;
    border: none;
    margin-top: 22px;
}


