/* Below one is for section h1 purpose*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
/* Below one is for section span element purpose */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
/* Below one is for sectioni p element purpose  */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
/* Below one is for signIn purpose include span element*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI Variable';
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer'
    ;
}
/* Netflix image section */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
}
#logoSignUpStep1{
    width: 217px;
    margin-left: 13px;
    box-sizing: border-box;
    height: 80px;
}
/* netflix SignIn link section */
#SignIn{
    color: black;
    margin-right: 32px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
/* CSS for Account Signup */

/* CSS for section for setting up users account */
#settingUp{
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 59px;
    background-color: #f3f3f3;
    border-top: 1px solid #80808029;
    border-bottom: 1px solid #80808029;
}
/* CSS for steps in the account creation */
#settingUp span{
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
}
#settingUp span b{
    font-family: 'Archivo', sans-serif;
}
/* CSS for title of the page  */
#settingUp h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}
/* CSS for context of the body  */
#settingUp p{
    font-family: 'Asap', sans-serif;
}
/* CSS for the mid of page of body content */
.midPageBodyContent{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 113px;
}

/* CSS for the computer image */
#signupStep1Img{
    width: 275px;
    height: 65px;
    margin-bottom: 44px
}
/* CSS for the h1 and span element below to the computer image */
.bodyTitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 59%;
    margin: auto;
    margin-bottom: 9px;
}
/* CSS for body description text */
.contextBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 42%;
    margin: auto;
}
.contextBody p{
    margin-bottom: 28px;
    font-size: 18px;
}
/* next button CSS below */
.btn-next{
    color: white;
    background: #e50914;
    padding: 18px 145px;
    font-size: 23px;
    border-radius: 4px;
    border: none;
}

/* CSS for the footer */
.linksLang{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    grid-area: footer;
}

.site-footer{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-left: 80px;
}
.footer-top{
    color: #737373;
    margin-bottom: 30px;
    margin-top: 35px;
}
.footer-top a{
    text-decoration: none;
    color: #737373;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    width: 1225px;
}
.footer-item-link{
    list-style: none;
    width: 232px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.footer-item-link a{
    text-decoration: none;
    color: #737373;
}
