
*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
*::before{
    content: "";
    background: url('/static/img/login_background.jpg') no-repeat center center/cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    filter: brightness(50%);
}
@font-face {
    font-family: 'netflix_sanslight';
    src: url('./fonts/NetflixSans-Regular.woff2') format('woff2'),
         url('./fonts/NetflixSans-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer';
}

/* CSS for navbar */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

/* CSS for netflix logo */
nav > img{
    width: 223px;
    margin-left: 19px;
    box-sizing: border-box;
    height: 103px;
}

/* CSS for netflix signin page background */
#netflix-signin-page-background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS for netflix section area */
#verify-block{
    grid-area: section;
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: auto;
}

/* CSS for signin box */
.signin-box{
    font-family: 'netflix_sanslight';
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 29%;
    height: 100%;
    margin-bottom: 40px;
    background: rgba(0,0,0,.75);
}

/* CSS for form tag  */
.signin-box form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: 87%;
    background: rgba(0,0,0,.75);
}
/* CSS for signin box heading */
.signin-box-heading{
    color: white;
    margin-left: 62px;
    font-size: 1.9rem;
    margin-top: 37px;
    margin-bottom: 22px;
}
/* CSS for input email */
.block-of-input-email{
    display: flex;
    margin-top: 12px;
    box-sizing: border-box;
}
#email-of-user{
    background: #333;
    padding: 16px 88px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
}
.label-email-name{
    font-family: 'netflix_sanslight';
    color: #8c8c8c;
    position: absolute;
    padding: 12px;
    box-sizing: border-box;
}

/* CSS for input password */
.block-of-input-password{
    display: flex;
    margin-top: 12px;
    box-sizing: border-box;
}
#password-of-user{
    background: #333;
    padding: 16px 88px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
}
.label-password{
    color: #8c8c8c;
    position: absolute;
    padding: 12px;
    box-sizing: border-box;
}

/* CSS for signin button  */
.signin-button{
    background: #e50914;
    color: white;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    margin-top: 45px;
    border-radius: 5px;
}
/* CSS for remember me and needhelp elements */
.rememberMe-block{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
/* CSS for rememberme text  */
.rememberme label{
    font-size: 12px;
    color: #8c8c8c;
}
/* CSS for need help */
.needhelp a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
/* CSS for signup and google reCAPTCHA texts */
.block-signup-and-google-captcha{
    display: flex;
    flex-direction: column;
    color: grey;
    font-family: netflix_sanslight;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
}
/* CSS for signup now below text */
.signup-now{
    margin: 93px 0px 22px 0px;
}
.signup-now a{
    text-decoration: none;
    color: #ffffffbd;
}
.learn-more-block > p{
    font-size: 13px;
}
.learn-more{
    font-size: 12px;
    color: #0000ffe0;
    text-decoration: underline;
    cursor: pointer;
}
.learn-more-hidden-info{
    color: grey;
    display: block;
    font-size: 13px;
    margin-top: 12px;
    text-decoration: none;
}
/* CSS for the footer */
.linksLang{
    background: rgba(0,0,0,.89);
    display: flex;
    font-family: 'netflix_sanslight';
    flex-direction: column;
    grid-area: footer;
    color: grey;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.site-footer{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.footer-top{
    color: inherit;
    margin-bottom: 30px;
    margin-top: 35px;
}
.footer-top a{
    text-decoration: none;
    color: inherit;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    width: 1074px;
}
.footer-item-link{
    list-style: none;
    width: 176px;
    padding-right: 14px;
    margin-bottom: 14px;
}
.footer-item-link a{
    text-decoration: none;
    color: inherit;
    font-size: 12px;
}
/* CSS for making of custom CSS box */
.lang-select{
    width: 138px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    line-height: 17px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 9px;
    height: 46px;
    justify-content: space-between;
}
/* CSS for current language */
.lang-select p{
    font-size: 12px;
    color: grey;
    margin-right: 4px;
    font-family: 'DM Sans', sans-serif;
}
/* globe CSS below */
.lang-select img:nth-child(1){
    width: 16px;
    position: relative;
    margin-right: 4px;
    font-weight: bolder;
    filter: invert(1);
}
/* arrow CSS below  */
.lang-select img:nth-child(3){
    width: 13px;
    position: relative;
    margin-right: 4px;
    height: 9px;
    filter: invert(1);
}
/* ul of language list below here */
#lang-list{
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    width: 137px;
    border: 1px solid grey;
    margin-bottom: 1px;
}
/* each language li */
.options{
    width: 137px;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    line-height: 18px;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.options:hover{
    background-color: rgb(30 144 255);
}
/* inside Paragraph of li */
.options p{
    font-family: 'DM Sans', sans-serif;
    color: black;
}
/* class to dynamically display list of languages  */
.hide-lang-list{
    visibility: hidden;
    margin-bottom: 1px;
}
#margin-control{
    margin-bottom: -44px;
}