
*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer';
}

/* CSS for navbar */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

/* CSS for netflix logo */
nav > img{
    width: 223px;
    margin-left: 19px;
    box-sizing: border-box;
    height: 103px;
}

/* CSS for netflix signin page background image shadow */
.overlay-netflix-image-background{
    background: rgb(0 0 0 / 40%);
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    height: 164%;
    width: 105%;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    overflow-x: hidden;
}

/* CSS for netflix signin page background */
#netflix-signin-page-background{
    position: absolute;
    z-index: -2;
    width: 105%;
    height: 155%;
    top: -252px;
    object-fit: cover;
}

/* CSS for netflix section area */
.verify-block{
    grid-area: section;
    height: 164%;
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: auto;
}

/* CSS for signin box */
.signin-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    border: 2px solid white;
    width: 100%;
    height: 100%;
}
