
*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer';
}

/* CSS for navbar */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

/* CSS for netflix logo */
nav > img{
    width: 223px;
    margin-left: 19px;
    box-sizing: border-box;
    height: 103px;
}

/* CSS for netflix signin page background image shadow */
.overlay-netflix-image-background{
    background: rgb(0 0 0 / 40%);
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    height: 164%;
    width: 105%;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    overflow-x: hidden;
}

/* CSS for netflix signin page background */
#netflix-signin-page-background{
    position: absolute;
    z-index: -2;
    width: 105%;
    height: 155%;
    top: -252px;
    object-fit: cover;
}

/* CSS for netflix section area */
#verify-block{
    grid-area: section;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: auto;
}

/* CSS for signin box */
.signin-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid white;
    width: 28%;
    height: 85vh;
    background: rgba(0,0,0,.75);
}

/* CSS for form tag  */
.signin-box form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid white;
    width: 75%;
    height: 87%;
    background: rgba(0,0,0,.75);
}
/* CSS for signin box heading */
.signin-box-heading{
    color: white;
    margin-left: 62px;
}
/* CSS for input email */
.block-of-input-email{
    display: flex;
    margin-top: 12px;
}
#email-of-user{
    background: #333;
    padding: 16px 72px;
    border-radius: 6px;
    border: none;
}
.label-email-name{
    color: #8c8c8c;
    position: absolute;
    padding: 12px;
}

/* CSS for input password */
.block-of-input-password{
    display: flex;
    margin-top: 12px;
}
#password-of-user{
    background: #333;
    padding: 16px 72px;
    border-radius: 6px;
    border: none;
}
.label-password{
    color: #8c8c8c;
    position: absolute;
    padding: 12px;
}

/* CSS for signin button  */
.signin-button{
    background: #e50914;
    color: white;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    margin-top: 45px;
    border-radius: 5px;
}
/* CSS for remember me and needhelp elements */
.rememberMe-block{
    display: flex;
    justify-content: space-between;
}
/* CSS for rememberme text  */
.rememberme label{
    color: #8c8c8c;
}

