*{
    margin: 0;
    padding: 0;
    overflow-x: clip;
}
@font-face {
    font-family: 'netflix_sansmedium';
    src: url('/static/css/fonts/netflixsansmedium-webfont.woff') format('woff'),
         url('/static/css/fonts/netflixsansmedium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'netflix_sansregular';
    src: url('/static/css/fonts/NetflixSansLight.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'netflix_sansthin';
    src: url('/static/css/fonts/NetflixSansThin.ttf');
    font-weight: 100;
    font-style: normal;
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'section1 section1 section1 section1'
    'section2 section2 section2 section2'
    'section3 section3 section3 section3'
    'section4 section4 section4 section4'
    'section5 section5 section5 section5'
    'section6 section6 section6 section6'
    ;
}

/* Navbar section */

/* Netflix image section */
#navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
nav > img{
    width: 193px;
    margin-left: 152px;
    box-sizing: border-box;
    height: 80px;
}
/* Netflix image section end here */

/* both right side language select and signIn */
.topRightButton{
    display: flex;
    margin-right: 177px;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
/* Outer div CSS below */
.select-lang{
    margin-right: 27px;
    margin-top: 32px;
}
/* Current language to be displayed on box div*/
.lang-select{
    width: 128px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'netflix_sansmedium';
    line-height: 17px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 9px;
    height: 30px;
    justify-content: space-between;
}
/* same but inside paragraph tag */
.lang-select p{
    font-size: 17px;
    color: white;
    margin-right: 4px;
    font-family: 'netflix_sansmedium';
}
/* globe CSS below */
.lang-select img:nth-child(1), .options img:nth-child(1){
    width: 16px;
    position: relative;
    filter: invert(1);
    margin-right: 4px;
    font-weight: bolder;
}
/* arrow CSS below  */
.lang-select img:nth-child(3), .options img:nth-child(3){
    width: 13px;
    position: relative;
    filter: invert(1);
    margin-right: 4px;
    height: 9px;
}
/* ul of language list below here */
#lang-list{
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* each language li  */
.options{
    width: 89px;
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    font-family: 'netflix_sansmedium';
    line-height: 18px;
    padding-right: 6px;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: white;
}
.options:hover{
    background-color: rgb(30 144 255);
}
/* inside Paragraph of li */
.options p{
    margin-left: 18px;
    font-family: 'netflix_sansmedium';
    color: white;
}
/* class to dynamically display list of languages  */
.hide-lang-list{
    visibility: hidden;
}
/*signIn button section */
#indexSignIn{
    text-decoration: none;
    background: #e50914;
    padding: 9px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 550;
    font-family: 'netflix_sansmedium';
    font-size: 14px;
}
.indexSignIn{
    margin-bottom: 5px;
}

/* Section area styling */
#section1{
    grid-area: section1;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.section-1::before{
    content: "";
    background: url('/static/img/netflix_index_page_background.jpg') no-repeat center center/cover;
    position: fixed;
    width: 100%;
    height: 114vh;
    z-index: -1;
    filter: brightness(50%);
}
/* Section-1 text block with email account creation block */
.email-account-creation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px;
}
.section-1-heading{
    color: white;
    font-family: 'netflix_sansmedium';
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 24px;
}
.section-1-text-1{
    color: white;
    font-family: 'netflix_sansregular';
    font-size: 22px;
    margin-bottom: 30px;
}
/* form css below */

/* Aligning enter your email text and form css */
/* CSS for form tag */
#index-page-email{
    display: flex;
    flex-direction: column;
}
/* email write information */
.email-write-desc{
    color: white;
    font-family: 'netflix_sansregular';
    font-size: 22px;
    margin-bottom: 18px;
}

/* CSS for first div after form */
.email-write-button-and-input{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

/* CSS for label  */
.label-email-name-top-box{
    position: relative;
    font-size: 16px;
    color: #9f9e9e;
    pointer-events: none;
    top: 20px;
    left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s ease-in-out;
}
/* Below class added when user click on input box of section-1 */
.label-move-top{
    left: 22px;
    font-size: 11px;
    color: white;
    top: 0px;
}

.block-of-input{
    height: 60px;
    padding: 0px 1px 0px 1px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 7px;
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS for div which is outside of email */
.input-email-block{
    background-color: #0000009f;
    box-sizing: border-box;
    margin-top: 1px;
    height: 55px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
}

/* CSS for email input  */
.input-email-block input{
    background-color: transparent;
    padding: 11px 0 11px 22px;
    color: white;
    width: 100%;
    height: 59px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 17px !important;
    position: relative;
    bottom: 22px;
}
.input-email-block input:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #16264447 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 1s !important;
}
/* CSS for Get Started  */
.email-button{
    background: red;
    color: white;
    font-size: 1.5rem;
    padding: 12px 34px;
    box-sizing: border-box;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'netflix_sansmedium';
    height: 57px;
    border-radius: 4px;
    float: left;
}
.right-arrow-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.right-arrow-block img{
    filter: invert(1);
    height: 19px;
    width: 19px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: absolute;
    margin-right: 12px;
}
.email-button:hover{
    cursor: pointer;
    background-color: #e50914;
}
/* CSS for demo video as well as description to the netflix */
#section2{
    grid-area: section2;
    background-color: black;
    border-top: 8px solid #222222;
    border-bottom: 8px solid #222222;
    width: 100%;
    height: 100%;
    font-family: 'netflix_sansregular';
}
.windows-demo-vi-and-desc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2-desc-and-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 170px;
    width: 35%;
}
/* CSS for heading and paragraph */
.section-2-desc-heading{
    font-size: 48px;
    color: white;
    font-family: 'netflix_sansmedium';
}
.section-2-desc-info{
    font-size: 22px;
    color: white;
    font-family: 'netflix_sansregular';
}
/* CSS for the video and image*/
.section-2-demo-vi{
    background: url(/static/img/tv_n.png) no-repeat top left transparent;
    width: 779px;
    height: 561px;
    position: relative;
    background-position: center;
    z-index: 0;
}
/* CSS for the video of section-2 */
.section-2-demo-vi video{
    position: absolute;
    top: 154px;
    left: 177px;
}

/* CSS for section-3 */
#section3{
    grid-area: section3;
    background-color: black;
    border-top: 8px solid #222222;
    border-bottom: 8px solid #222222;
    width: 100%;
    height: 100%;
    font-family: 'netflix_sansregular';
}
.section-3-demo-download-preview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3-left-front-download-prev {
    background: url(/static/img/img_preview-download.jpg) no-repeat center right transparent;
    background-size: 77%;
    display: flex;
    width: 100%;
    height: 79vh;
    justify-content: center;
    align-items: flex-end;
}
.section-3-donwload-ex-vi-box{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    height: 17%;
    margin-bottom: 95px;
    width: 42%;
    border-radius: 14px;
    background: black;
    margin-left: 174px;
}
.section-3-downloading-vi-ex{
    width: 59px;
    height: 85px;
    margin-left: 9px;
    margin-right: 14px;
}
.section-3-download-title{
    color: white;
    display: flex;
    flex-direction: column;
}
.section-3-vi-downloading{
    color: blue;
}
.section-3-download-ex-gif{
    width: 16%;
    height: 40%;
    float: right;
    display: block;
    margin-left: 60px;
}
.section-3-vi-offline-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.section-3-vi-offline-info-box{
    width: 72%;
}
.section-3-download-info-head{
   font-size: 49px;
   font-family: 'netflix_sansmedium';
}
.section-3-save-vi-info{
    font-size: 22px;
    font-family: 'netflix_sansregular';
}
/* CSS for section-4 */
#section4{
    grid-area: section4;
    background-color: black;
    border-top: 8px solid #222222;
    border-bottom: 8px solid #222222;
    width: 100%;
    height: 100%;
    font-family: 'netflix_sansregular';
}
.apple-demo-vi-and-desc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-4-desc-and-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 170px;
    width: 35%;
}
/* CSS for heading and paragraph */
.section-4-desc-heading{
    font-size: 48px;
    color: white;
    font-family: 'netflix_sansmedium';
}
.section-4-desc-info{
    font-size: 22px;
    color: white;
    font-family: 'netflix_sansregular';
}
/* CSS for the video and image*/
.section-4-demo-vi{
    width: 779px;
    height: 561px;
    position: relative;
    background-position: center;
}
.section-4-demo-vi::after{
    content: "";
    background: url(/static/img/tv_mobile_tab.png) no-repeat top left transparent;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    z-index: 1;
    display: block;
}
.section-4-demo-vi video{
    position: absolute;
    top: 154px;
    left: 177px;
    z-index: 0;
}
/* CSS for section-5 */
#section5{
    grid-area: section5;
    background-color: black;
    border-top: 8px solid #222222;
    border-bottom: 8px solid #222222;
    width: 100%;
    height: 100%;
    font-family: 'netflix_sansregular';
}
.section-5-demo-download-preview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-5-left-front-download-prev {
    background: url(/static/img/children_prev.png) no-repeat center right transparent;
    background-size: 77%;
    display: flex;
    width: 100%;
    height: 79vh;
    justify-content: center;
    align-items: flex-end;
}
.section-5-vi-offline-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.section-5-vi-offline-info-box{
    width: 72%;
}
.section-5-download-info-head{
   font-size: 49px;
   font-family: 'netflix_sansmedium';
}
.section-5-save-vi-info{
    font-size: 22px;
    font-family: 'netflix_sansregular';
}
/* CSS for section-6 */
#section6{
    grid-area: section6;
    background-color: black;
    border-top: 8px solid #222222;
    border-bottom: 8px solid #222222;
    width: 100%;
    height: 100%;
}
.section-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-6-title {
    padding: 10px;
    color: white;
    font-family: 'netflix_sansmedium';
    text-align: center;
    font-size: 48px;
  }
/* Base styles for the accordion */
.accordion {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion-items{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.accordion-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.accordion-header{
    padding: 4px 5px;
    cursor: pointer;
    background-color: rgb(45,45,45);
    color: white;
    font-family: 'netflix_sansregular';
    font-size: 21px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
  }
/* .accordion-content img{
    height: 10%;
    width: 10%;
} */
.accordion-items .accordion-item .accordion-header::before{
    content: "\002B";
    position: relative;
    top: 50%;
    left: 96%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
}
.accordion-content {
    padding: 15px 32px;
    color: white;
    font-family: 'netflix_sansregular';
    background-color: rgb(45,45,45);
    margin-top: 1px;
    font-size: 21px;
    display: none;
  }
.accordion-content-show{
    display: block;
}

/* CSS for below search box and stuffs */
/* CSS for label  */
.label-email-name-bottom-box{
    position: relative;
    font-size: 16px;
    color: #9f9e9e;
    pointer-events: none;
    top: 20px;
    left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s ease-in-out;
}
/* Below class added when user click on input box of section-6 */
.label-move-bottom{
    left: 22px;
    font-size: 11px;
    color: white;
    top: 0px;
}
#footer{
    grid-area: footer;
}